<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
	<add key="MySqlDump" value="locatiedump"></add>
	<add key="ftpUsername" value="FTPNume-"></add>
	<add key="ftpPassword" value="FTPPAssword-"></add>
	<add key="ftpAdress" value="FTPIP"></add>
	<add key="mySqlName" value="mySQLName-"></add>
	<add key="mySqlPassword" value="mysqlPArola-"></add>
	<add key="mySqlAdress" value="mySQLAdrres----"></add>
	<add key="MysqlBackLocation" value="locatie"></add>
	<add key="numeBaza" value="prolyte"></add>
	<add key="CopyFiles" value=""></add>
	<add key="CopyFTP" value=""></add>
	<add key="TimpBackup" value="10-20-2015"></add>
	<add key="TimpCopy" value="10-20-2015"></add>
	</appSettings>
</configuration>